@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #b0d90c;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
   
    
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}
 .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: double purple;
    padding: 2em;
    background-color: mediumorchid;
    flex-wrap: wrap
 }
 
 .plant {

    border: 1px dotted white;
    padding: 1em;
    margin: 0.5em;
 }